.catalog-section-top {
	text-align: left;
	vertical-align: top;
}

.catalog-section-top .section-block {
	width: 270px;
	display: inline-block;
	position: relative;
	margin-right: 11px;
	margin-left: 0px;
	margin-bottom: 18px;
	vertical-align: top;
}

.section-block .image {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}

.section-block .image img {
	position: relative;
	display: block;
	width: 100%;
	height: 200px;
}

.section-block .content {
	border-bottom: 1px solid #eae8e6;
	border-left: 1px solid #eae8e6;
	border-right: 1px solid #eae8e6;
	box-sizing: border-box;
	padding: 26px 21px 23px 21px;
	height: 250px;
}

.section-block .name {
	font-family: 'Days';
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 16px; 
}

.section-block .links {

}

.section-block .links ul {

}

.section-block .links ul li {
	margin-bottom: 16px;
}

.section-block .links ul li a {
	text-decoration: none;
	color: #272727;
}

.section-block .bottom {

}

.js-hidden {
	display: none;
}

.js-shown {
	display: block;
}

.js-section-block.js-collapsed {

}

.js-section-block.js-expanded {
	
}

.js-section-block.js-collapsed .content {
	height: 250px;
}

.js-section-block.js-expanded .content {
	min-height: 250px;
	height: auto;
}

@media only screen and (max-width: 1799px) {
	.catalog-section-top .section-block {
		width: 280px;
		margin-right: 6px;
		margin-left: 6px;
	}
}

@media only screen and (max-width: 1240px) {
	.catalog-section-top .section-block {
		width: 280px;
		margin-right: 6px;
		margin-left: 6px;
	}
}

@media only screen and (max-width: 1010px) {
	.catalog-section-top {
		text-align: center;
		vertical-align: top;
	}
	.catalog-section-top .section-block {
		text-align: left;
		width: 280px;
		margin-right: 6px;
		margin-left: 6px;
	}
}

@media only screen and (max-width: 767px) {
	.catalog-section-top .section-block {
		width: 280px;
		margin-right: 6px;
		margin-left: 6px;
	}
}